.root {
    	-fx-background-color: #FFFFFFF;
	-fx-background-image: url("https://45.media.tumblr.com/dd48454a538863d3c33ed27fc0ab4603/tumblr_mzkmo9LRc71t5d5dyo1_r1_500.gif");
}

.label{
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}

.button{ 
    -fx-background-radius: 4;
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}
