.root {
    	-fx-background-color: #FFFFFFF;
	-fx-background-image: url("http://66.media.tumblr.com/72b02376c6f504edbba834a117ef7277/tumblr_o1fmjwZ3jC1s2hovgo1_400.gif");
}

.label{
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}

.button{ 
    -fx-background-radius: 4;
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}
