.root {
    	-fx-background-color: #FFFFFFF;
	-fx-background-image: url("https://38.media.tumblr.com/2f9eac72e0439c835cf54d09c05b86a4/tumblr_nlf9ijuNWs1txolt4o1_540.gif");
}

.label{
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}

.button{ 
    -fx-background-radius: 4;
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}
