.root {
    	-fx-background-color: #FFFFFFF;
	-fx-background-image: url("http://33.media.tumblr.com/2b887730abcad7f0d82170aeceedf563/tumblr_n7lfyu75bd1syjt2wo1_500.gif");
}

.label{
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}

.button{ 
    -fx-background-radius: 4;
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}
