.root {
    	-fx-background-color: #FFFFFFF;
	-fx-background-image: url("https://s3.amazonaws.com/vice_asset_uploader/files/1410970509Goat.gif");
}

.label{
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}

.button{ 
    -fx-background-radius: 4;
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}
