.root {
    	-fx-background-color: #FFFFFFF;
	-fx-background-image: url("http://33.media.tumblr.com/65459db5cda1ab37f65025edc2fe8f3d/tumblr_naqmvnfaxE1syjt2wo1_250.gif");
}

.label{
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}

.button{ 
    -fx-background-radius: 4;
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}
