.root {
    	-fx-background-color: #FFFFFFF;
	-fx-background-image: url("http://66.media.tumblr.com/12ab73578cc1037ff7b04cca7f7816d2/tumblr_nhh8x2IKkt1svz1lgo1_500.gif");
}

.label{
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}

.button{ 
    -fx-background-radius: 4;
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}
