.root {
    	-fx-background-color: #FFFFFFF;
	-fx-background-image: url("http://49.media.tumblr.com/5bf292899bd2a44ffefe7536f176e813/tumblr_n1j40e7Zhm1s5jjtzo1_500.gif");
}

.label{
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}

.button{ 
    -fx-background-radius: 4;
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}
