.root {
    	-fx-background-color: #FFFFFFF;
	-fx-background-image: url("http://static.tumblr.com/dc0b9d36960d495379e970aafce23537/urfwzt1/XzKo88fzu/tumblr_static_5ayemotihukggcg80o0sc8kko.gif");
}

.label{
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}

.button{ 
    -fx-background-radius: 4;
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}
