.root {
    	-fx-background-color: #FFFFFFF;
	-fx-background-image: url("http://25.media.tumblr.com/cf7e98633b31cbf2e50e07cadad201a3/tumblr_mq43sl9voI1swkptto1_500.gif");
}

.label{
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}

.button{ 
    -fx-background-radius: 4;
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}
