.root {
    	-fx-background-color: #FFFFFFF;
	-fx-background-image: url("http://25.media.tumblr.com/f75a81367926a076741fd6aad556d04d/tumblr_mv5qsorr1R1snr2ico1_500.gif");
}

.label{
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}

.button{ 
    -fx-background-radius: 4;
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}
