.root {
    	-fx-background-color: #FFFFFFF;
	-fx-background-image: url("http://i.imgur.com/hQmyKRy.gif");
}

.label{
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}

.button{ 
    -fx-background-radius: 4;
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}
