.root {
    	-fx-background-color: #FFFFFFF;
	-fx-background-image: url("http://66.media.tumblr.com/c04b6872dbe25bec912d2698168a6f38/tumblr_n3pvkln0id1rhb9f5o1_r2_500.gif");
}

.label{
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}

.button{ 
    -fx-background-radius: 4;
    -fx-background-color: #000000;
    -fx-text-fill: #FAEBD7
}
